body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.container {
  background: #fff;
  padding-top: 80px;
  min-height: 100vh;
  height: 100%;
}

.editor {
  margin: 0 auto;
  max-width: 800px;
  background: #fff;
  padding: 20px;
  min-height: 60vh;

  a {
    color: #2196f3;
  }

  :not(pre) > code {
    font-family: monospace;
    background: #f5f7f9; 
    padding: 3px 6px;
  }

  blockquote {
    border-left: 3px solid #e5e5e5;
    margin-left: 0;
    padding-left: 10px;
    color: #c4c7c4;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    border-top: 1px solid #ccc;
  }

  table tr {
    border: none;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  table tr:first-child {
    background: #f7f8f9;
  }

  table tr:first-child p {
    font-weight: bold;
  }

  table td {
    padding: .4rem 1.4rem .4rem .8rem;
    border: 1px solid #ccc;
    border-top: none;
    border-bottom: none;
    border-right: none;
    flex: 1;
    word-break: break-all;
    position: relative;
  }

  table td p {
    margin: 0;
  }
}